<%- include("partials/header.ejs") %>
			<!-- /End Header 1 Warp -->
			<section class="boxed no-padding o-hidden">
				<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
				<div id="slider_1" class="rev_slider  slider-home-1" style="display:none;" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li>
							<!-- MAIN IMAGE -->
							<img src="images/slider/1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['-50','-50','-50','-150']" 
								data-width="['750','750','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-fontsize="['82','82','41','41']"
								data-lineheight="['82','82','45','45']"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1500" 
								><p class="typo-1"><span class="color-theme">Sanmour</span> Arch</p>
							</div>
							<div class="tp-caption typo-2" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['50','50','50','-50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1700"
								data-fontsize="['16','16','14','14']" 
								data-lineheight="['32','32','20','20']"
								><p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.</p>
							</div>
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']"
								data-y="center" data-voffset="['150','150','150','50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1900"
								data-fontsize="['16','16','14','14']" 
								><a href="#" class="ot-btn border-theme">Purchase</a>
							</div>
						</li>
						<li>
							<!-- MAIN IMAGE -->
							<img src="images/slider/3.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['-50','-50','-50','-150']" 
								data-width="['750','750','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-fontsize="['82','82','41','41']"
								data-lineheight="['82','82','45','45']"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1500" 
								><p class="typo-1"><span class="color-theme">Sanmour</span> Arch</p>
							</div>
							<div class="tp-caption typo-2" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['50','50','50','-50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1700"
								data-fontsize="['16','16','14','14']" 
								data-lineheight="['32','32','20','20']"
								><p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.</p>
							</div>
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']"
								data-y="center" data-voffset="['150','150','150','50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1900"
								data-fontsize="['16','16','14','14']" 
								><a href="#" class="ot-btn border-theme">Purchase</a>
							</div>
						</li>
						<li>
							<!-- MAIN IMAGE -->
							<img src="images/slider/4.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['-50','-50','-50','-150']" 
								data-width="['750','750','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-fontsize="['82','82','41','41']"
								data-lineheight="['82','82','45','45']"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1500" 
								><p class="typo-1"><span class="color-theme">Sanmour</span> Arch</p>
							</div>
							<div class="tp-caption typo-2" 
								data-x="left" data-hoffset="['15','','','15']" 
								data-y="center" data-voffset="['50','50','50','-50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1700"
								data-fontsize="['16','16','14','14']" 
								data-lineheight="['32','32','20','20']"
								><p>Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.</p>
							</div>
							<div class="tp-caption" 
								data-x="left" data-hoffset="['15','','','15']"
								data-y="center" data-voffset="['150','150','150','50']"
								data-width="['550','550','480','320']"
								data-transform_idle="o:1;"
								data-whitespace="normal"
								
								data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;" 
								data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								data-start="1900"
								data-fontsize="['16','16','14','14']" 
								><a href="#" class="ot-btn border-theme">Purchase</a>
							</div>
						</li>
					</ul>
				</div>

			</section>
			<!-- /Slider -->

			<section class=" bg-top-right">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h2>We turn <span class="color-theme">Ideas</span> into Works of Art</h2>
							<p>With technology and time, the field of architecture has evolved as well. Designs and structures have evolved. What's new yesterday becomes commonplace today. Experiment and breaking-the-routine are the new norms and trend. Whatever may have changed, there's nothing more important than a beautiful home. Sanmour is a group that brings designs for spaces, ideas, imagination for execution of structures and landscapes.</p>

							<div class="row mgt-60">
								<div class="col-md-6">
									<div class="icon-box-inline">
										<img src="images/icon/interior designing.png" class="img-responsive" alt="Image">
										<h5 class="text-uppercase">Interior Design</h5>
										<p>Complex architecture, design by interior designer</p>
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-inline">
										<img src="images/icon/architecture3.png" class="img-responsive" alt="Image">
										<h5 class="text-uppercase">Architecture Design</h5>
										<p>We provide you with the incomparable designs</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-inline">
										<img src="images/icon/landscape desinig.png" class="img-responsive" alt="Image">
										<h5 class="text-uppercase">Landscapes Design</h5>
										<p>Choose the style, we complete with our file</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 ">
							<div class="experience-year ey1">
								<span>14</span>
								<div class="des-text">
									<strong>YEARS OF EXPERIENCE
									</strong>
									<p>IN ARCHITECTURE DESIGN</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="line-top-left w-240"></div>
			</section>
			<!-- /Experience Year -->
			

			<section class="boxed bg-img" style="background-image: url(images/bg/counter-1.jpg);">
				<div class="container">
					<div class="col-md-3 col-sm-6">
						<div class="counter-block">
							<span class="counter">253</span>
							<p>PROJECTS</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="counter-block">
							<span class="counter">146</span>
							<p>CLIENTS</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="counter-block">
							<span class="counter">365</span>
							<p>AWARDS</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="counter-block">
							<span class="counter">68</span>
							<p>EMPLOYEES</p>
						</div>
					</div>
				</div>
			</section>
			<!-- /Counter Up -->

			<section>
				<div class="container">
					<h2>OUR <span class="color-theme">PROJECTS</span></h2>
				</div>
				<div class="line-top-right w-680">
					<div class="outter-btn">
						<a href="portfolio.html" class="ot-btn border-dark">View All</a>
					</div>
				</div>
				<div class="row">
					<div id="portfolio-h1" class="owl-portfolio-h1 owl-page-h">

					<% projects.forEach((project, index) => { %>
						<div class="portfolio-h1-item">

						<!-- IMAGE / CAROUSEL -->
						<div class="col-md-6">
							<a href="/single_project?id=<%= project.id %>">

							<div id="carousel-<%= index %>" class="carousel slide" data-ride="carousel">

								<!-- Indicators -->
								<ol class="carousel-indicators">
								<li data-target="#carousel-<%= index %>" data-slide-to="0" class="active"></li>
								</ol>

								<!-- Slides -->
								<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img
									src="/uploads/<%= project.thumbnail %>"
									class="d-block w-100 img-responsive"
									alt="<%= project.project_name %>"
									>
								</div>
								</div>

							</div>

							</a>
						</div>

						<!-- CONTENT -->
						<div class="col-md-6">
							<div class="portfolio-des">
								<%
								const typeMap = {
									1: "Residential",
									2: "Commercial",
									3: "Villa",
									4: "School",
									5: "Interior"
								};
								%>
							<span class="color-theme"><%= typeMap[project.type] || "Architecture" %></span>
							<h3><%= project.project_name %></h3>
							<p>
								<%= project.description.length > 160
								? project.description.substring(0,160) + "..."
								: project.description
								%>
							</p>
							<a href="/single_project?id=<%= project.id %>" class="ot-btn btn-style-2">
								View Project
							</a>
							</div>
						</div>

						</div>
					<% }) %>

</div>

				</div>
			</section>

			
			<!-- /Portfolio -->

		

			<section class="boxed  bg-img" style="background-image: url(images/bg/testimonial-1.jpg);">
				<div class="customNavigation">
	                <a class="btn-1 prev prev-testimonial-h1"><span class="lnr lnr-chevron-left-circle"></span></a>
	                <a class="btn-1 next next-testimonial-h1"><span class="lnr lnr-chevron-right-circle"></span></a>
	        	</div><!-- End owl button -->
				<div id="testimonial-1" class="owl-testimonial-1">
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
						
					</div>
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
					</div>
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
					</div>
				</div>
			</section>
			<!-- /testimonial -->
			 <section>

			 </section>

			
			
			<!-- <section>
				<div class="container">
					<div id="partner-h1" class="owl-partner">
						<div class="partner-item">
							<a href="#"><img src="images/partner/1.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/2.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/3.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/4.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/5.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/6.png" class="img-responsive" alt="Image"></a>
						</div>
					</div>
				</div>
			</section> -->
			<!-- /partner -->

			<section class="boxed bg-img p" style="background-image: url(images/bg/bg-contact-1.jpg)">
				<div class="container">
					<h2 class="title-on-dark"><span class="color-theme">CONTACT</span> US</h2>
					<div class="col-md-3">
						<div class="icon-box-contact">
							<img src="images/icon/icon-mail.png" class="img-responsive" alt="Image">
							<label>E-MAIL</label>
							<a href="mailto:email@crophos.com">email@crophos.com</a>
						</div>
						<div class="icon-box-contact">
							<img src="images/icon/icon-phone.png" class="img-responsive" alt="Image">
							<label>PHONE</label>
							<a href="tel:5417543010">( 541 ) 754 - 3010</a>
						</div>
					</div>
					<div class="col-md-9 ">
						<div class="row">
							<form action="POST" class=" on-dark">
								<div class="col-md-4 col-sm-6">
									<input class="contact-input" type="text" required="required" placeholder="Name">
									<input class="contact-input" type="text" required="required" placeholder="Phone Number">
								</div>
								<div class="col-md-4 col-sm-6">
									<input class="contact-input" type="email" required="required" placeholder="E-Mail">
									<input class="contact-input" type="text" required="required" placeholder="Topic">
								</div>
								<div class="col-md-4 col-sm-6">
									<textarea class="textarea-contact" rows="4" required="required" placeholder="Message"></textarea>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-4 ">
									<button type="submit" class="ot-btn border-theme btn-contact">Send Message</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- /contact -->
<%- include("partials/footer.ejs") %>